@import "../../../../styles/utilities/colors";
@import "../../../../styles/utilities/breakpoints";

.AboutWrapper {
  position: relative;
  margin-block-end: 160px;
  display: flex;
  justify-content: center;
}

.AboutCloud {
  position: absolute;
  top: calc(100px - 8vw);
  font-size: 19rem;
  font-size: 17vw;
  color: lighten($black-75, 10%);
  @include laptop-breakpoint-down {
    top: calc(100px - 4vw);
  }
  @include tablet-breakpoint-down {
    top: calc(-80px);
  }
}

.AboutFlex {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding-inline: 160px;
  margin-top: 240px;

  @include laptop-breakpoint-down {
    padding-inline: 80px;
  }
  @include tablet-breakpoint-down {
    padding-inline: 24px;
    margin-top: 40px;
    flex-direction: column;
  }

  .ImageWrapper {
    flex: 1 1 0;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;

    @include tablet-breakpoint-down {
      margin-top: 40px;
    }
    img {
      object-fit: scale-down;
      max-width: 100%;
      border-radius: 2px;
    }
  }
  .InfoWrapper {
    flex: 1 1 0;
    padding-top: 80px;
    display: flex;
    flex-direction: column;

    @include tablet-breakpoint-down {
      padding-top: 40px;
    }
    @include mobile-breakpoint-down {
      padding-top: 0px;
    }
    .Name {
      font-size: 6rem;
      color: white;
    }
    .Title {
      border-top: 1px darken($black-50, 35%) solid;
      padding-top: 16px;
      font-size: 1.5rem;
      color: $black-50;
    }
    .Description {
      font-size: 2rem;
      padding-right: 16px;
    }
    .HobbyTitle {
      font-size: 1.5rem;
      color: white;
      margin-top: 64px;
      margin-bottom: 8px;
    }
    .HobbiesFlex {
      display: flex;
    }
    .HobbyComponent {
      flex: 0 1;
      margin-right: 16px;
      border: 1px $black-50 solid;
      border-radius: 8px;
      padding-block: 4px;
      padding-inline: 8px;
      background-color: $black-75;
      font-size: 1.5rem;

      &:hover {
        background-color: lighten($black-50, 30%);
        color: $black;
        transition: background-color 0.5s ease-in-out;
      }
    }
    .SocialWrapper {
      flex: 1 1 auto;
      display: flex;
      align-items: flex-end;

      .SocialFlex {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
        padding-right: 64px;

        .IconWrapper {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1 1 80;
          padding: 1.5rem;
          width: 80px;
          height: 80px;
          margin-right: 32px;
          margin-top: 32px;
          .SpinBorder {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 3px white dashed;
            border-radius: 50%;
            transition: transform 5s ease-out;
            &:hover {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
    @include laptop-breakpoint-down {
      .Name {
        font-size: 5rem;
      }
      .Title {
        padding-top: 16px;
        font-size: 1.5rem;
      }
      .Description {
        font-size: 1.5rem;
      }
    }
    @include mobile-breakpoint-down {
      .Name {
        font-size: 4rem;
      }
      .Description {
        font-size: 1rem;
      }
      .HobbyComponent {
        font-size: 1rem;
      }
    }
  }
}
